:root {
    --border-radius: 4px !important;
}

body{
    font-family: "Poppins", sans-serif !important;
    -webkit-user-select: none;
    margin: 0;
    background-position: 37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),37.97vw calc(((300vw - 100vh)/2 - 85.77vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),-100vw calc(((300vw - 100vh)/2 - 154.56vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),13.34vw calc(((300vw - 100vh)/2 - 53.88vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),10.64vw calc(((300vw - 100vh)/2 - 17.19vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-49vw calc(((300vw - 100vh)/2 - 41.1vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1),-100vw calc(((300vw - 100vh)/2 - 78vw) * -1);
    background-color: var(--accent-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 156.45vw 99.03vw,156.45vw 99.03vw,156.45vw 99.03vw,226.86vw 145.44vw,226.86vw 145.44vw,226.86vw 145.44vw,171.96vw 110.31vw,171.96vw 110.31vw,171.96vw 110.31vw,130.29vw 83.58vw,130.29vw 83.58vw,130.29vw 83.58vw,198vw 126.9vw,198vw 126.9vw,198vw 126.9vw,300vw 192vw,300vw 192vw,300vw 192vw; background-image: radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.024) 0,rgba(160,51,255,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.04) 0,rgba(160,51,255,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(160,51,255,.064) 0,rgba(160,51,255,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0,rgba(24,119,242,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.024) 0,rgba(255,108,92,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.04) 0,rgba(255,108,92,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(255,108,92,.064) 0,rgba(255,108,92,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.024) 0,rgba(245,206,51,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.04) 0,rgba(245,206,51,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(245,206,51,.064) 0,rgba(245,206,51,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.024) 0,rgba(37,211,102,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.04) 0,rgba(37,211,102,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(37,211,102,.064) 0,rgba(37,211,102,0) 100%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.024) 0,rgba(24,119,242,0) 50%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.04) 0,rgba(24,119,242,0) 75%),radial-gradient(50% 50% at 50% 50%,rgba(24,119,242,.064) 0,rgba(24,119,242,0) 100%);
}

.navbar-gradient {
    background: linear-gradient(90deg, #1A4055 0.03%, #050C1B 100%);
}

.nav-item {
    margin: 3px 0;
    position: relative;
}

.nav-item.active {
    color: var(--primary-color) !important;
}

.nav-link {
    color: inherit !important;
    position: relative;
    z-index: 1;
}

/*.nav-item a {*/
/*  	display: inline-block;*/
/*  	position: relative;*/
/*  	padding-bottom: 5px;*/
/*	border-color: var(--primary-color);*/
/*	border-left: 1rem;*/
/*}*/

/*.nav-item a::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  left: 5%;*/
/*  bottom: 0;*/
/*  width: 90%;*/
/*  height: 2px; !* Adjust as needed *!*/
/*  background-color: var(--primary-color); !* Adjust as needed *!*/
/*  transform: scaleX(0);*/
/*  transform-origin: right;*/
/*  transition: transform 0.3s ease-in-out; !* Adjust as needed *!*/
/*}*/

/*.nav-item a:hover::after {*/
/*  transform: scaleX(1);*/
/*  transform-origin: left;*/
/*}*/

.choice-pill {
    background: transparent;
}

.choice-pill-link.active {
    opacity: 100%;
}

.choice-pill-link:hover {
    color: #000000;
}

.choice-pill-link {
    background: #FFFFFF;
    opacity: 80%;
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
}

.input-field {
    background: #F1F0EE !important;
    border: 0 solid transparent !important;
    border-radius: 8px;
}

.input-field:focus {
    background: #F1F0EE; !important;
}

.input-field::placeholder {
  color: gray;
  opacity: 1; /* Ensures full opacity */
}

/* For better browser support */
.input-field::-webkit-input-placeholder { color: gray; }
.input-field::-moz-placeholder { color: gray; } /* Fixed */
.input-field:-ms-input-placeholder { color: gray; }

.input-group{
    width: auto !important;
}

.navbar-dark {
    background: #000000 !important;
}

.btn-warning{
    background: #0A7EBF !important;
}
.btn-outline-warning{
    background: #0A7EBF !important;
}

.btn-primary {
    --btn-bg: var(--primary-color) !important;
    --btn-color: var(--font-reverse) !important;
    --btn-hover-color: var(--font-reverse) !important;
    --btn-hover-bg: var(--primary-color) !important;
    --btn-hover-border-color: rgba(26, 64, 85, 0.2);
    --btn-focus-shadow-rgb: 12,131,255;
    --btn-active-color: #fff;
    --btn-active-bg: var(--primary-color) !important;
    --btn-active-border-color: var(--primary-color) !important;
    --btn-active-shadow: inset 0 0 0 0 transparent;
    --btn-disabled-color: var(--primary-color) !important;
    --btn-disabled-bg: transparent;
    --gradient: none;
    --btn-border-color: rgba(var(--primary-rgb), 0.2) !important;
}

.btn-outline-primary {
    --btn-color: var(--primary-color) !important;
    --btn-border-color: var(--primary-color) !important;
    --btn-hover-color: #fff;
    --btn-hover-bg: var(--primary-color) !important;
    --btn-hover-border-color: rgba(26, 64, 85, 0.2);
    --btn-focus-shadow-rgb: 12,131,255;
    --btn-active-color: #fff;
    --btn-active-bg: var(--primary-color) !important;
    --btn-active-border-color: var(--primary-color) !important;
    --btn-active-shadow: inset 0 0 0 0 transparent;
    --btn-disabled-color: var(--primary-color) !important;
    --btn-disabled-bg: transparent;
    --gradient: none;
}

.form-control::placeholder{
    color: #1A4055;
}

.star-rating {
    font-family: Arial, sans-serif;
    position: relative;
    display: inline-block;
}

.star-rating::before {
    content: "★★★★★";
    color: #ddd;
}

.stars::before {
    content: "★★★★★";
    color: #f5c518;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
    white-space: nowrap;
}

.scrollbar-h-hidden {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;

    scrollbar-width: none;
    -ms-overflow-style: none;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.scrollbar-h-hidden::-webkit-scrollbar {
    display: none;
}

.border-dark {
    border: 1px solid #000000 !important;
}

.text-justify {
    text-align: justify !important;
}

.lh-1_2 {
    line-height: 1.2 !important;
}

/* Font Sizes */

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-56 {
    font-size: 56px !important;
}

.fs-64 {
    font-size: 64px !important;
}

.fs-72 {
    font-size: 72px !important;
}

@media (max-width: 576px) {
    .fs-sm-10 {
        font-size: 10px !important;
    }

    .fs-sm-11 {
        font-size: 11px !important;
    }

    .fs-sm-12 {
        font-size: 12px !important;
    }

    .fs-sm-13 {
        font-size: 13px !important;
    }

    .fs-sm-14 {
        font-size: 14px !important;
    }

    .fs-sm-15 {
        font-size: 15px !important;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .fs-sm-17 {
        font-size: 17px !important;
    }

    .fs-sm-18 {
        font-size: 18px !important;
    }

    .fs-sm-19 {
        font-size: 19px !important;
    }

    .fs-sm-20 {
        font-size: 20px !important;
    }

    .fs-sm-22 {
        font-size: 22px !important;
    }

    .fs-sm-24 {
        font-size: 24px !important;
    }

    .fs-sm-26 {
        font-size: 26px !important;
    }

    .fs-sm-28 {
        font-size: 28px !important;
    }

    .fs-sm-30 {
        font-size: 30px !important;
    }

    .fs-sm-32 {
        font-size: 32px !important;
    }

    .fs-sm-36 {
        font-size: 36px !important;
    }

    .fs-sm-40 {
        font-size: 40px !important;
    }

    .fs-sm-48 {
        font-size: 48px !important;
    }

    .fs-sm-56 {
        font-size: 56px !important;
    }

    .fs-sm-64 {
        font-size: 64px !important;
    }

    .fs-sm-72 {
        font-size: 72px !important;
    }

    /* Margin adjustments for small screens */
    .mb-sm-1 {
        margin-bottom: 0.25rem !important;
    }

    .mb-sm-2 {
        margin-bottom: 0.5rem !important;
    }

    .mb-sm-3 {
        margin-bottom: 1rem !important;
    }

    .mb-sm-4 {
        margin-bottom: 1.5rem !important;
    }

    .mb-sm-5 {
        margin-bottom: 3rem !important;
    }

    .mt-sm-1 {
        margin-top: 0.25rem !important;
    }

    .mt-sm-2 {
        margin-top: 0.5rem !important;
    }

    .mt-sm-3 {
        margin-top: 1rem !important;
    }

    .mt-sm-4 {
        margin-top: 1.5rem !important;
    }

    .mt-sm-5 {
        margin-top: 3rem !important;
    }

    .mx-sm-1 {
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }

    .mx-sm-2 {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .mx-sm-3 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    .mx-sm-4 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }

    .mx-sm-5 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }

    .my-sm-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }

    .my-sm-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }

    .my-sm-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }

    .my-sm-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }

    .my-sm-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .m-sm-1 {
        margin: 0.25rem !important;
    }

    .m-sm-2 {
        margin: 0.5rem !important;
    }

    .m-sm-3 {
        margin: 1rem !important;
    }

    .m-sm-4 {
        margin: 1.5rem !important;
    }

    .m-sm-5 {
        margin: 3rem !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .fs-md-10 {
        font-size: 10px !important;
    }

    .fs-md-11 {
        font-size: 11px !important;
    }

    .fs-md-12 {
        font-size: 12px !important;
    }

    .fs-md-13 {
        font-size: 13px !important;
    }

    .fs-md-14 {
        font-size: 14px !important;
    }

    .fs-md-15 {
        font-size: 15px !important;
    }

    .fs-md-16 {
        font-size: 16px !important;
    }

    .fs-md-17 {
        font-size: 17px !important;
    }

    .fs-md-18 {
        font-size: 18px !important;
    }

    .fs-md-19 {
        font-size: 19px !important;
    }

    .fs-md-20 {
        font-size: 20px !important;
    }

    .fs-md-22 {
        font-size: 22px !important;
    }

    .fs-md-24 {
        font-size: 24px !important;
    }

    .fs-md-26 {
        font-size: 26px !important;
    }

    .fs-md-28 {
        font-size: 28px !important;
    }

    .fs-md-30 {
        font-size: 30px !important;
    }

    .fs-md-32 {
        font-size: 32px !important;
    }

    .fs-md-36 {
        font-size: 36px !important;
    }

    .fs-md-40 {
        font-size: 40px !important;
    }

    .fs-md-48 {
        font-size: 48px !important;
    }

    .fs-md-56 {
        font-size: 56px !important;
    }

    .fs-md-64 {
        font-size: 64px !important;
    }

    .fs-md-72 {
        font-size: 72px !important;
    }

    /* Margin adjustments for medium screens */
    .mb-md-1 {
        margin-bottom: 0.25rem !important;
    }
    .mb-md-2 {
        margin-bottom: 0.5rem !important;
    }
    .mb-md-3 {
        margin-bottom: 1rem !important;
    }
    .mb-md-4 {
        margin-bottom: 1.5rem !important;
    }
    .mb-md-5 {
        margin-bottom: 3rem !important;
    }
    .mt-md-1 {
        margin-top: 0.25rem !important;
    }
    .mt-md-2 {
        margin-top: 0.5rem !important;
    }
    .mt-md-3 {
        margin-top: 1rem !important;
    }
    .mt-md-4 {
        margin-top: 1.5rem !important;
    }
    .mt-md-5 {
        margin-top: 3rem !important;
    }
    .mx-md-1 {
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }
    .mx-md-2 {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    .mx-md-3 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .mx-md-4 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    .mx-md-5 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .my-md-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }
    .my-md-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .my-md-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .my-md-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .my-md-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .m-md-1 {
        margin: 0.25rem !important;
    }
    .m-md-2 {
        margin: 0.5rem !important;
    }
    .m-md-3 {
        margin: 1rem !important;
    }
    .m-md-4 {
        margin: 1.5rem !important;
    }
    .m-md-5 {
        margin: 3rem !important;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .fs-lg-10 {
        font-size: 10px !important;
    }

    .fs-lg-11 {
        font-size: 11px !important;
    }

    .fs-lg-12 {
        font-size: 12px !important;
    }

    .fs-lg-13 {
        font-size: 13px !important;
    }

    .fs-lg-14 {
        font-size: 14px !important;
    }

    .fs-lg-15 {
        font-size: 15px !important;
    }

    .fs-lg-16 {
        font-size: 16px !important;
    }

    .fs-lg-17 {
        font-size: 17px !important;
    }

    .fs-lg-18 {
        font-size: 18px !important;
    }

    .fs-lg-19 {
        font-size: 19px !important;
    }

    .fs-lg-20 {
        font-size: 20px !important;
    }

    .fs-lg-22 {
        font-size: 22px !important;
    }

    .fs-lg-24 {
        font-size: 24px !important;
    }

    .fs-lg-26 {
        font-size: 26px !important;
    }

    .fs-lg-28 {
        font-size: 28px !important;
    }

    .fs-lg-30 {
        font-size: 30px !important;
    }

    .fs-lg-32 {
        font-size: 32px !important;
    }

    .fs-lg-36 {
        font-size: 36px !important;
    }

    .fs-lg-40 {
        font-size: 40px !important;
    }

    .fs-lg-48 {
        font-size: 48px !important;
    }

    .fs-lg-56 {
        font-size: 56px !important;
    }

    .fs-lg-64 {
        font-size: 64px !important;
    }

    .fs-lg-72 {
        font-size: 72px !important;
    }

    /* Margin adjustments for large screens */
    .mb-lg-1 {
        margin-bottom: 0.25rem !important;
    }
    .mb-lg-2 {
        margin-bottom: 0.5rem !important;
    }
    .mb-lg-3 {
        margin-bottom: 1rem !important;
    }
    .mb-lg-4 {
        margin-bottom: 1.5rem !important;
    }
    .mb-lg-5 {
        margin-bottom: 3rem !important;
    }
    .mt-lg-1 {
        margin-top: 0.25rem !important;
    }
    .mt-lg-2 {
        margin-top: 0.5rem !important;
    }
    .mt-lg-3 {
        margin-top: 1rem !important;
    }
    .mt-lg-4 {
        margin-top: 1.5rem !important;
    }
    .mt-lg-5 {
        margin-top: 3rem !important;
    }
    .mx-lg-1 {
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }
    .mx-lg-2 {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    .mx-lg-3 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .mx-lg-4 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    .mx-lg-5 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .my-lg-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }
    .my-lg-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .my-lg-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .my-lg-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .my-lg-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .m-lg-1 {
        margin: 0.25rem !important;
    }
    .m-lg-2 {
        margin: 0.5rem !important;
    }
    .m-lg-3 {
        margin: 1rem !important;
    }
    .m-lg-4 {
        margin: 1.5rem !important;
    }
    .m-lg-5 {
        margin: 3rem !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .fs-xl-10 {
        font-size: 10px !important;
    }

    .fs-xl-11 {
        font-size: 11px !important;
    }

    .fs-xl-12 {
        font-size: 12px !important;
    }

    .fs-xl-13 {
        font-size: 13px !important;
    }

    .fs-xl-14 {
        font-size: 14px !important;
    }

    .fs-xl-15 {
        font-size: 15px !important;
    }

    .fs-xl-16 {
        font-size: 16px !important;
    }

    .fs-xl-17 {
        font-size: 17px !important;
    }

    .fs-xl-18 {
        font-size: 18px !important;
    }

    .fs-xl-19 {
        font-size: 19px !important;
    }

    .fs-xl-20 {
        font-size: 20px !important;
    }

    .fs-xl-22 {
        font-size: 22px !important;
    }

    .fs-xl-24 {
        font-size: 24px !important;
    }

    .fs-xl-26 {
        font-size: 26px !important;
    }

    .fs-xl-28 {
        font-size: 28px !important;
    }

    .fs-xl-30 {
        font-size: 30px !important;
    }

    .fs-xl-32 {
        font-size: 32px !important;
    }

    .fs-xl-36 {
        font-size: 36px !important;
    }

    .fs-xl-40 {
        font-size: 40px !important;
    }

    .fs-xl-48 {
        font-size: 48px !important;
    }

    .fs-xl-56 {
        font-size: 56px !important;
    }

    .fs-xl-64 {
        font-size: 64px !important;
    }

    .fs-xl-72 {
        font-size: 72px !important;
    }

    /* Margin adjustments for extra large screens */
    .mb-xl-1 {
        margin-bottom: 0.25rem !important;
    }
    .mb-xl-2 {
        margin-bottom: 0.5rem !important;
    }
    .mb-xl-3 {
        margin-bottom: 1rem !important;
    }
    .mb-xl-4 {
        margin-bottom: 1.5rem !important;
    }
    .mb-xl-5 {
        margin-bottom: 3rem !important;
    }
    .mt-xl-1 {
        margin-top: 0.25rem !important;
    }
    .mt-xl-2 {
        margin-top: 0.5rem !important;
    }
    .mt-xl-3 {
        margin-top: 1rem !important;
    }
    .mt-xl-4 {
        margin-top: 1.5rem !important;
    }
    .mt-xl-5 {
        margin-top: 3rem !important;
    }
    .mx-xl-1 {
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
    }
    .mx-xl-2 {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
    .mx-xl-3 {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    .mx-xl-4 {
        margin-left: 1.5rem !important;
        margin-right: 1.5rem !important;
    }
    .mx-xl-5 {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    .my-xl-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
    }
    .my-xl-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .my-xl-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .my-xl-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .my-xl-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .m-xl-1 {
        margin: 0.25rem !important;
    }
    .m-xl-2 {
        margin: 0.5rem !important;
    }
    .m-xl-3 {
        margin: 1rem !important;
    }
    .m-xl-4 {
        margin: 1.5rem !important;
    }
    .m-xl-5 {
        margin: 3rem !important;
    }
}

