{% load files %}

<style>
    @font-face {
      font-family: NotoColorEmojiLimited;
      unicode-range: U+1F1E6-1F1FF;
      src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
    }

	:root, [data-color-theme=light] {
		--focus-ring-box-shadow: 0 0 0 0.125rem rgba(12, 131, 255, 0.0) !important;
	}
	.nav-tabs-underline {
		--nav-tabs-underline-color: #000000 !important;
	}

    * {
        font-family: "Poppins", "Noto Color Emoji", "-apple-system", ".AppleSystemUIFont", sans-serif;
    }
</style>

{# CSS Files #}
{% css R.files.colors %}
{% css R.files.all %}
{% css R.files.animate %}
{% css R.files.style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

{# Font Files #}
{% font R.files.poppins %}

{# Icon Files #}
{% icon R.files.phosphor %}
{% icon R.files.icomoon %}
{% icon R.files.bootstrap %}

{% if not DEBUG and R.data.tracking.enabled %}
	{# Hotjar Tracking #}
	<script>
        (function(h,o,t,j,a,r)
        {
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:{{ R.data.tracking.hotjar }},hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=true;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

	{# Meta Tracking #}
    <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '{{ R.data.tracking.facebook }}');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" alt="fb" src="https://www.facebook.com/tr?id={{ R.data.tracking.facebook }}&ev=PageView&noscript=1"/>
    </noscript>
{% endif %}

